<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Legend of Zelda Compendium
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Pulling a image from the internet -->
    <div class="ion-text-center">
      <img src="https://seeklogo.com/images/T/the-legend-of-zelda-hyrulian-crest-logo-0EE3FC3E0B-seeklogo.com.png" alt="Hyrulian Crest">
    </div>
  
<div class="ion-text-center">
  <ion-button [routerLink]="['/monster-list']">Monster List</ion-button>
</div>
<div class="ion-text-center">
  <ion-button [routerLink]="['/equipment']">Equipment List</ion-button>
</div>
<div class="ion-text-center">
  <ion-button [routerLink]="['/regions']">Regions</ion-button>
</div>
<div class="ion-text-center">
  <ion-button [routerLink]="['/saved-monsters']">Saved</ion-button>
</div>
  
</ion-content>